#loadingDiv{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0;
    top: 0;
    background: rgba(247, 243, 243, 0.1);
    z-index: 1000;
}